<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="SqlMap/userSQL.xml"/>
        <mapper resource="SqlMap/storeSQL.xml"/>
        <mapper resource="SqlMap/storebookSQL.xml"/>
        <mapper resource="SqlMap/noticeSQL.xml"/>
        <mapper resource="SqlMap/orderSQL.xml"/>
    </mappers>
</configuration>